.bodyCalc {
    align-items: top;
    justify-content: center;
    margin: 0 auto;
    border: 3px solid pink;
    border-radius: 23px;
    width: 450px;
    height: 650px;
}

.titleCalc {
    display: flex;
    padding: 10px;
    border: 2.5px solid orange;
    width: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 20px auto;
}

.screen {
    border: 1px solid black;
}